.modal_container{
    box-sizing: border-box;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    display:flex;
    pointer-events: auto;
    visibility:hidden;
 
}


.modal{
    background-color: white;
    width: 500px;
    padding: 80px;

}

.modal h5{
    position: relative;
    top: -60px;
    left: 200px;
    font-weight: bold;
    font-family: CircularMed;
    color:rgb(105, 105, 112);
    font-size: 20px;
    letter-spacing: 1.25px;
}

.modal #firstlabel{
    position: relative;
    top: -50px;
    left: 100px;
    font-weight: bold;
    letter-spacing: 1.25px;
}

#product_type{
    position: relative;
    left: 15px;
}

.modal #secondlabel{
    position: relative;
    top: -10px;
    left: -160px;
    font-weight: bold;
    letter-spacing: 1.25px;
    
}

 #quantity_type{
    position: relative;
    left: 350px;
    top: -20px;
}

.modal #thirdlabel{
    position: relative;
    top: 10px;
    left: -90px;
    font-weight: bold;
    letter-spacing: 1.25px;
}

#description_type{
    position: relative;
    left: -5px;

}

.modal button{
    position: relative;
    top: 50px;
    left: 190px;
    background-color: rgb(171, 88, 54); ;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
} 

.modal button:hover{
    cursor: pointer;
    background-color: grey;
    color: rgb(171, 88, 54); 
}

.modal_container1{
    z-index: 10;
    border: 2px  solid red;
}

